<p>register works!</p>
<h1 align="center" style="color: red;">Employee Registration</h1> <br/>

<div class="container">
    <form #regForm="ngForm" (ngSubmit)="empRegister(regForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>EmpName</td>
                    <td><input type="text" name="empName" ngModel /> </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" name="salary" ngModel /> </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select name="gender" ngModel>
                            <option value="" selected>Select Gender</option>
                            <option value="Male"  >Male  </option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date Of Join</td>
                    <td><input type="date" name="doj" ngModel /> </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <select name="country"  ngModel>
                            <option value="" selected>Select Country</option>
                            <option value="IND">India</option>
                            <option value="CHI">China</option>
                            <option value="USA">USA  </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Email-Id</td>
                    <td><input type="text" name="emailId" ngModel /> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" ngModel /> </td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <select name="department"  ngModel>
                            <option value="" selected>Select Department</option>
                            <option value="10">IT</option>
                            <option value="20">Sales</option>
                            <option value="30">Accounts</option>
                            <option value="40">Testing</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>Register</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>