<p>showempbyid works!</p>
<br/><br/>

<h3 style="color: green;">Welcome: {{emailId}}!</h3>

<div align="center">
    Enter Employee-Id: <input type="text" name="empId" [(ngModel)]="empId" /> <br/><br/>
    <button (click)="getEmployee()">Get Employee</button>
</div>

<br/><br/>

<div *ngIf="emp">
    <div class="container">
        <table class="table table-bordered table-hover table-striped table-sm">
    <thead>
        <tr align="center">
            <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">EmailId</th>
                <th class="bg-info text-white">Experience</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td align="center"> {{emp.empId}} </td>
            <td align="left">   {{emp.empName | uppercase | gender:emp.gender}}</td>
            <td align="right">  {{emp.salary  | currency:'INR'}}</td>
            <td align="left">   {{emp.gender  | lowercase}}</td>
            <td align="center"> {{emp.doj     | date:'dd-MMM-yyyy'}}</td>
            <td align="left">   {{emp.country}}       </td>
            <td align="left">   {{emp.emailId}}       </td>
            <td align="center"> {{emp.doj     | exp}} </td>
        </tr>
    </tbody>
</table>
</div>
