
<h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <table>
        <tr>
            <td>Enter Email-Id</td>
            <td><input type="text"     name="emailId"  #emailId="ngModel" ngModel required minlength="2" maxlength="30" /></td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="password" name="password" #password="ngModel" ngModel required minlength="2" maxlength="10"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button> New User? <a href="">Register</a>
            </td>
        </tr>
    </table>
<br/>

<div style="color: red;">

   <div *ngIf="emailId.errors?.['required'] && emailId.touched">Please provide the Email-Id</div> 
   <div *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</div> 

   <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">Please provide atleast 2 characters for Email-Id</div> 
   <div *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 2 characters for Password</div> 

</div>

</form>

